{% extends "base.html" %}
        {% block content %}
        <div class="container-fluid mt-4 bg-success justify-content-center rounded-4">
            <div class="pt-4 pb-4">
                <h1 class="display-1 text-center text-light">
                    Based on Seed Number
                </h1>
                <div class="d-flex justify-content-center align-items-center">
                    <div id="seedHelp" class="form-text text-center fs-4 mt-4 text-light col-lg-8">Seed digit is what you get after adding the digits of your 'date' of birth.
                        e.g. Say your date is 29<sup>th</sup> of any month. After adding 2 & 9 that results to 11 ,in turn added results 2, making 2 your Seed Digit.
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid m-2">
            <form method="POST" action="">
              <div class="mb-3">
                <label for="seedInput1" class="form-label">Mention your Seed digit</label>
                <input type="text" class="form-control" id="seedInput1" name="seed" autocomplete="false" aria-describedby="seedHelp">
              </div>
              <button type="submit" class="btn btn-primary">Generate</button>
            </form>
        </div>
        {% endblock %}
    {% block result %}
    {% if show == 'yes' %}
        <div class="container-fluid">
            <div class="fs-4 p-2 m-2 bg-success-subtle">
                Your lucky options for Plate Numbers:
            </div>
            <span class="m-2 fs-6">There are {{ count }} Lucky numbers for you.</span>
            <div class="m-2 p-3 text-light" style="background-color: rgb(40, 120, 80)">
                {% for o in options %}
                    {{ o }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endblock %}